@model MainWalletModel

@{
    ViewData["Title"] = "Main";
}


<div class="alert-light" style="width:100%; height:auto; background-color:aquamarine; display:inline-block">
    <span style="padding-left: 10px; text-align:left">Name: @Model.WalletData.UserName</span>
    <span style="padding-right: 10px; text-align:right">Coins: @Model.WalletData.Coins</span>
</div>

<div style="width:70%; margin-left:auto; margin-right:auto">
    <p class="text-center">Input Name of the Coins Reciever</p>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#UserName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Wallet/AutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.UserName, value: item.UserName };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<div style="width:80%; margin-left:auto; margin-right:auto">
    <form asp-action="Main">
        <table class="table table-bordered" style="width:100%">
            <tr>
                <th>
                    TransactionDate
                </th>
                <th>
                    Email of the recipient
                </th>
                <th>
                    Name of the recipient
                </th>
                <th>
                    Transaction Amount
                </th>
                <th>
                    Rest Balance
                </th>
            </tr>
            @foreach (var histroyRow in Model.TransactionsHistory)
            {
                <tr>
                    <td>
                        @histroyRow.trDate
                    </td>
                    <td>
                        @histroyRow.CorrespondentEmail
                    </td>
                    <td>
                        @histroyRow.CorrespondentName
                    </td>
                    <td>
                        @histroyRow.trAmount
                    </td>
                    <td>
                        @histroyRow.RestBalance
                    </td>
                </tr>
            }
        </table>
    </form>
    <div class="btn btn-block btn-primary btn-info text-black-50" style="width:10%"><a asp-controller="Login" asp-action="SignOut">Sign Out</a></div>
</div>